@charset "ISO-8859-1";

h2 {
  color: orange;
}
h1 {
  color: orange;
}
body {
    background-image: url('https://img.freepik.com/premium-vector/camera-background-with-composition-realistic-dark-sky-professional-camera-with-light-text_1284-60593.jpg?w=2000');
   background-repeat: no-repeat;
    
   
   
}